body {
    background-color: #9c66c4;
    max-width: 1000px;
    margin: auto;
    font-family: 'Roboto Slab', serif;
}

.row {
    display: flex;
    flex-flow: row;
}

.col, .row {
    width: 100%;
}

.col {
    padding: 15px;
}


.input, .result, .desc {
    padding: 15px;
}

.input, .result {
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.desc {
    text-align: center;
}
.desc, .result {
    color: white;
}

.result {
    background-color: #6a19a6;
    background-image: url('../img/cat.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 100px;
}

.input {
    background-color: #ffffff;
}

.title {
    padding: 10px;
    color: #36005e;
    text-align: center;
}

.footer {
    color: #36005e;
}
